/*---------- SETTINGS -----------*/
*{margin:0;outline:0;padding:0;text-align:left;list-style:none;border:none;text-decoration:none;vertical-align:baseline;outline:none;}
body { color: var(--body-color); background:var(--body-bg); overflow-y: overlay; overflow-x: hidden; height: var(--max-content); font-family:var(--body-font); font-size:var(--body-font-size); }
::-moz-selection{ color:#fff; background:#1ebea5; }
::selection{ color:#fff; background:#C00; }
::-webkit-scrollbar{width:6px!important;height:6px!important;}
::-webkit-scrollbar-thumb{ background: rgba(0,0,0,0.15); border-radius:6px; }
::-webkit-scrollbar-track{background: transparent;}
.navbar { display: none; }
:root{
--body-font: Roboto, Helvetica, Arial, sans-serif;
--body-bg:hsl(0,0%,95%);
--body-color:hsl(0,0%,80%);
--body-font-size:12px;
--max-content:100%;
--cor-padrao:hsl(0,0%,100%);
--border-top: 4px solid #c00;
--font-open:'Open Sans', Helvetica, sans-serif;
}


/*-------------------------------*/
/*---------- PUSH-MENU ----------*/
/*-------------------------------*/
NAV.PUSHmenu { background: #fff; position: fixed; top: 0; left: 0; z-index: 11000; width: 240px; border-top: var(--border-top); -webkit-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); -webkit-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; display: flex; flex-direction: column; height: calc(100vh - 4px); }
NAV.PUSHmenu UL LI A:hover { background: rgba(0, 0, 0, 0.03); }
li.home a:hover { background: rgba(255, 255, 255, 0.1)!important; }
NAV.PUSHmenu UL { flex-grow: 1; overflow-x: hidden; overflow-y: auto; display: block; }
NAV.PUSHmenu OL { box-shadow: inset 0 -1px rgba(0,0,0,0.05); padding: 12px 0; }
NAV.PUSHmenu H1 { font-weight: 100; font-size: 14px; padding: 4px 20px 8px 20px; }
NAV.PUSHmenu LI { position: relative; }
NAV.PUSHmenu LI::after { content: ''; width: 24px; height: 24px; display: block; position: absolute; top: 7px; left: 12px; }
NAV.PUSHmenu LI A, .PUSHmenu LI STRONG { text-shadow: 0 0 1px rgba(255,255,255,0.1); -webkit-transition: background 0.3s, box-shadow 0.3s; -moz-transition: background 0.3s, box-shadow 0.3s; transition: background 0.3s, box-shadow 0.3s; color: rgb(125, 125, 125); text-decoration: none; display: block; padding: 6px 10px 6px 46px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; font: 100 16px/26px 'Lato', Calibri, Arial, sans-serif; }
NAV.PUSHmenu FOOTER, NAV.PUSHmenu FOOTER * { display: block; }
NAV.PUSHmenu SECTION { background: rgba(249, 249, 249, 0.3); font: bold 16px/22px var(--font-open); color: rgb(125, 125, 125); box-shadow: inset 0 -1px var(--body-color); border-bottom: 1px solid rgba(204, 204, 204, 0.3); display: block; height: 51px; }
NAV.PUSHmenu FOOTER .GUIDEurl { padding: 16px 20px 0; display: inline-block; }
NAV.PUSHmenu FOOTER .GUIDEurl A { float: left; color: #AAA; line-height: 20px; }
NAV.PUSHmenu FOOTER .GUIDEurl A:not(:last-child) { margin-right: 8px; }
NAV.PUSHmenu FOOTER SPAN { padding: 32px 20px 16px; }
NAV.PUSHmenu .GUIDEmenu A::before, HEADER.HEADmenu .BTNmenu A::before { position: absolute; top: 13px; left: 9px; width: 20px; height: 2px; background: #606060; box-shadow: 0 3px rgb(0, 0, 0, 0), 0 5px #606060, 0 8px rgb(0, 0, 0, 0), 0 10px #606060; content: ''; z-index: 9; }
#CONTENTframe.SWIPEopen::before { background: rgba(0,0,0,0.3); z-index: 999; }
#CONTENTframe::before { content: ""; width: var(--max-content); height: var(--max-content); z-index: 0; -webkit-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; position: fixed; display: block; }

/*-------------------------------*/
/*----------- HEADER ------------*/
/*-------------------------------*/
HEADER.HEADmenu {
    background: var(--cor-padrao);
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    border-top: var(--border-top);
    position: fixed;
    width: calc( var(--max-content) + 6px);
    top: 0;
    left: 0;
    height: 46px;
    z-index: 10000;
}
HEADER.HEADmenu .BTNmenu, NAV.PUSHmenu .GUIDEmenu { padding: 4px 8px; }
HEADER.HEADmenu .BTNhref, NAV.PUSHmenu .BTNmenu { position: relative; width: 38px; height: 38px; display: block; border-radius: 50%; }
HEADER.HEADmenu .BTNhref:hover { background-color: rgba(60,64,67,0.08); }
HEADER.HEADmenu .BTNhref:active { background-color: rgba(60,64,67,0.12); }
HEADER.HEADmenu .BTNhref:focus:hover { background-color: rgba(60,64,67,0.1); }
#search, .BTNmenu { float: left; }
#search { overflow: hidden; margin: 10px 0px 10px; }
#search form { display: flex; }
#search #txtPesquisar { color: #606060; background: transparent; padding: 6px 8px; font-size: 14px; letter-spacing: 0.6px; float: left; }
#search #txtPesquisar:focus { box-shadow: inset 1px 1px rgba(0,0,0,0.05), inset -1px -1px rgba(0,0,0,0.05); }
#inputSubmit { width: 33px; padding: 5.5px; background-color: transparent; background-repeat: no-repeat; background-position: 7px 4px; background-size: 52%; margin-left: -33px; }
#search #txtPesquisar::placeholder { font-style: italic; font-size: 14px; color: rgba(0, 0, 0, 0.3); }
