/*---------- SETTINGS -----------*/
*{margin:0;outline:0;padding:0;text-align:left;list-style:none;border:none;text-decoration:none;position: relative;vertical-align:baseline;outline:none;}
body { color: var(--body-color); background:var(--body-bg); overflow-y: overlay; overflow-x: hidden; height: var(--max-content); font-family:var(--body-font); font-size:var(--body-font-size); }
::-moz-selection{ color:#fff; background:#1ebea5; }
::selection{ color:#fff; background:#C00; }
::-webkit-scrollbar{width:6px!important;height:6px!important;}
::-webkit-scrollbar-thumb{ background: rgba(0,0,0,0.15); border-radius:6px; }
::-webkit-scrollbar-track{background: transparent;}
.navbar { display: none; }
:root{
--body-font: Roboto, Helvetica, Arial, sans-serif;
--body-bg:hsl(0,0%,95%);
--body-color:hsl(0,0%,80%);
--body-font-size:12px;
--max-content:100%;
--width-overlay:calc( var(--max-content) + 6px);
--input-placeholder:rgba(0, 0, 0, 0.4);
--black-transparent-bg:rgba(0,0,0,0.6);
--input-search:rgba(0,0,0,0.8);
--white-transparent-bg:rgba(255, 255, 255, 0.05);
--navbar-bg: #2b2e32;
--navbar-bg-out: #1b1d21;
--color-clean: #FFF;
--color-prata: #d3d3d4;
--color-menu-secundary: #aaa;
--color-copyright: #717171;
--color-black-out: #606060;
--color-dark-gray: #A9A9A9;
--box-push-menu-ol: hsl(0, 0%, 14%);
--border-push-menu-ol: hsla(0, 0%, 30%, 0.3);

--font-oswald: 'Oswald',arial,helvetica,sans-serif;
--font-open: 'Open Sans', Helvetica, sans-serif;
--font-lato: 'Lato', Calibri, Arial, sans-serif;
--font-poppins: 'Poppins', sans-serif;
--ease-one-time: all .1s ease-in-out;
--ease-tre-time: all .3s ease-in-out;
--pxsize-tres: 3px;
}
A {
    color: var(--color-prata);
}
@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}



DIV.POSTbox .POSTbtn LI A,
.PURCHASEbox,
span.CHECKOUTbtn a,
.GOOGLEtrend,
.INFORMATIONpage {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.TOOLSpost {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}


.BODYinst, MAIN.BODYmain { float: left; width: 100%; position: relative; }
MAIN.BODYmain { display: block; }


.main, #main {
    position: relative;
    display: block;
    margin: 0 auto;
}
.postBody, .MAINsec, .page-navi {
    overflow: hidden;
    margin: auto;
}
@media screen and (min-width: 550px) { .postBody, .MAINsec, .page-navi { max-width: 550px; } }
@media screen and (min-width: 754px) { .postBody, .MAINsec, .page-navi { max-width: 100%; } DIV.POSTbox, DIV.POSTbox.BOOKmark { max-width: 50%; } }
@media screen and (min-width: 900px) { .postBody, .MAINsec, .page-navi { max-width: 100%; } }
@media screen and (min-width: 1166px) { .postBody, .MAINsec, .page-navi { max-width: 1056px; } }
@media screen and (min-width: 1056px) { .postBody, .MAINsec { padding: 16px 16px 0; } }

/*-------------------------------*/
/*---------- PAGENAVI -----------*/
/*-------------------------------*/
#blog-pager { text-align:center; }
.page-navi {
    clear: both;
}
.pagenavi {
    position: relative;
    display: block;
    overflow: hidden;
}
.pagenavi {
    font: 14px/1.3 'Lato', Calibri, Arial, sans-serif;
    margin: 0 16px 14px;
    text-align: center;
    clear: both;
}
#blog-pager a, .pagenavi span, .pagenavi a {
    border-style: solid;
    cursor: pointer;
    text-decoration: none;
    border-width: 0px 0px 2px;
    color: #686868;
    text-transform: uppercase;
    display: -moz-inline-stack;
    display: inline-block;
    line-height: 28px;
    font-weight: 400;
    padding: 0 10px;
    letter-spacing: 0.5px;
    margin: 0 4px 8px;
    font-size: 10px;
}
.pagenavi .pages { cursor: default; margin-right: 0px; opacity: 0.7; }
.pagenavi .current {
    cursor: default;
    opacity: 0.7;
    color: #cc0000;
    font-weight: bolder;
}
.pagenavi a:active, .pagenavi a.selected { border-color: rgba(24, 152, 132, 0.4); }

.pagenavi a:last-child {
    color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBmaWxsPSIjNjg2ODY4Ij48cG9seWdvbiBwb2ludHM9Ijc5LjA5MywwIDQ4LjkwNywzMC4xODcgMTQ2LjcyLDEyOCA0OC45MDcsMjI1LjgxMyA3OS4wOTMsMjU2IDIwNy4wOTMsMTI4Ii8+PC9zdmc+);
    border-color: #686868;
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center 11px;
}



/*-------------------------------*/
/*---------- PUSH-MENU ----------*/
/*-------------------------------*/
NAV.PUSHmenu {
    background: var(--navbar-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11000;
    width: 240px;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: var(--ease-tre-time);
    -o-transition: var(--ease-tre-time);
    transition: var(--ease-tre-time);
    height: 100vh;
}
ASIDE.GUIDEmenu {
    padding: 9px;
    position: absolute;
    background: linear-gradient(96deg,#242424 0,#2b2e32 40%);
    -webkit-transition: var(--ease-tre-time);
    -o-transition: var(--ease-tre-time);
    transition: var(--ease-tre-time);
    z-index: 9999!important;
    left: -56px;
    top: 0;
}
NAV.PUSHmenu ARTICLE {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 56px);
}
NAV.PUSHmenu OL {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-push-menu-ol);
    padding: 12px 0;
}
NAV.PUSHmenu UL {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: overlay;
}
NAV.PUSHmenu H1 {
    color: var(--color-menu-secundary);
    font-family: var(--font-open);
    font-weight: 500;
    font-size: 13px;
    padding: 4px 20px 8px 20px;
}
NAV.PUSHmenu LI { position: relative; }
NAV.PUSHmenu LI A::after {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    left: 26px;
    top: 11px;
}
NAV.PUSHmenu UL LI A:hover { background: var(--white-transparent-bg); }
NAV.PUSHmenu LI A { color: var(--color-clean); text-decoration: none; display: block; padding: 7px 10px 7px 62px; font-weight: 100; line-height: 26px; font-size: 14px; font-family: var(--font-poppins); }
NAV.PUSHmenu FOOTER, NAV.PUSHmenu FOOTER * { display: block; }
NAV.PUSHmenu SECTION {
    box-shadow: inset 0 -1px hsl(0, 0%, 14%);
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    background-position: 26px center;
    background-size: 116px;
    background-repeat: no-repeat;
    font-family: var(--font-open);
    height: 56px;
}
NAV.PUSHmenu FOOTER .GUIDEurl { padding: 16px 20px 0; display: inline-block; }
NAV.PUSHmenu FOOTER .GUIDEurl A { color: var(--color-menu-secundary); font-family: var(--font-open); line-height: 20px; float: left; }
NAV.PUSHmenu FOOTER .GUIDEurl A:hover { color: var(--color-clean); }
NAV.PUSHmenu FOOTER .GUIDEurl A:not(:last-child) { margin-right: 8px; }
NAV.PUSHmenu FOOTER SPAN {
    color: var(--color-copyright);
    font-family: var(--font-poppins);
    letter-spacing: 0.5px;
}
NAV.PUSHmenu FOOTER SPAN.COPYright {
    padding: 32px 20px 16px;
}
NAV.PUSHmenu FOOTER SPAN.LASTupdate {
    padding: 0 20px 16px;
    font-size: 10px;
}
ASIDE.GUIDEmenu A::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    content: '';
    z-index: 9; }
#CONTENTframe.SWIPEopen::before { background: var(--black-transparent-bg); z-index: 999; }
#CONTENTframe::before { content: ''; width: var(--max-content); height: var(--max-content); -webkit-transition: var(--ease-tre-time); -o-transition: var(--ease-tre-time); transition: var(--ease-tre-time); position: fixed; display: block; z-index: 0; }

/*-------------------------------*/
/*----------- HEADER ------------*/
/*-------------------------------*/
HEADER.HEADmenu { background: var(--navbar-bg); position: fixed; width: calc( var(--max-content) + 6px); top: 0; left: 0; height: 56px; z-index: 99; }
HEADER.HEADmenu .BTNmenu {
    padding: 0px 8px;
    display: none;
    float: left;
}
HEADER.HEADmenu .BTNhref, ASIDE.GUIDEmenu .SWIPEc_ { position: relative; width: 38px; height: 38px; display: block; border-radius: 50%; }
HEADER.HEADmenu .BTNhref::hover { background-color: rgba(60,64,67,0.08); }
HEADER.HEADmenu .BTNhref::active { background-color: rgba(60,64,67,0.12); }
HEADER.HEADmenu .BTNhref::focus::hover { background-color: rgba(60,64,67,0.1); }
HEADER.HEADmenu .BTNmenu A::before { position: absolute; top: 13px; left: 10px; width: 20px; height: 2px; background: var(--color-dark-gray); box-shadow: 0 3px transparent, 0 5px var(--color-dark-gray), 0 8px transparent, 0 10px var(--color-dark-gray); content: ''; z-index: 9; }
@media screen and (max-width: 848px) { HEADER.HEADmenu .BTNmenu { display: block; } }

DIV.HEADERnav, .SEARCHbar {
    max-width: 1056px;
    padding: 9px 0;
    font-family: var(--font-poppins);
    margin: 0 auto;
    display: block;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    overflow: hidden;
    width: 100%;
    opacity: 1;
}
DIV.HEADERnav UL.HEADERright {
    float: right;
}
DIV.HEADERnav LI {
    float: left;
}
DIV.HEADERnav LI:not(:last-child) a, .SHOTurl DIV:not(:last-child), .SEARCHpopular A:not(:last-child) {
    margin-right: 6px;
}
DIV.HEADERnav LI:not(:first-child) a, .SHOTurl DIV:not(:first-child), .SEARCHpopular A:not(:first-child) {
    margin-left: 6px;
}
DIV.HEADERnav LI A {
    padding: 10px;
    color: var(--color-prata);
    font-weight: 100;
    border-radius: 3px;
    display: block;
}
DIV.HEADERnav LI A:hover {
    color: var(--color-clean);
}
.SEARCHwhere {
    display: block;
    cursor: pointer;
}
DIV.HEADERnav LI A.NOTIFYit, DIV.HEADERnav LI I.SEARCHwhere {
    padding: 0;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0;
}
DIV.HEADERnav LI A.NOTIFYit I.ALERTon {
    background: #FBC013;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-animation: ALERTon 1s ease infinite !important;
    -moz-animation: ALERTon 1s ease infinite !important;
    animation: ALERTon 1s ease infinite !important;
}
@keyframes ALERTon {
0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}}
DIV.HEADERnav LI A.cPANEL {
    background: transparent;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff !important;
    font-weight: 100;
    padding: 8px 16px !important;
    letter-spacing: 1px;
    font-family: var(--font-lato);
    line-height: 14px;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}
DIV.HEADERnav LI A.cPANEL:hover {
    color: #000000 !important;
    background: #ffffff !important;
}
@media screen and (max-width: 848px) {
UL.HEADERleft, .ITEMdel { display: none; }
DIV.HEADERnav UL.HEADERright {
    padding: 0 8px;
}}


DIV.CONTENTblogger { padding: 56px 0 0; display: block; }



SECTION.COOKIESbar {
    background-color: #1d262d;
    color: #fff;
    font-family: var(--font-oswald);
    letter-spacing: 0.6px;
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: var(--width-overlay);
}
SECTION.COOKIESbar .COOKIESinner {
    padding: 10px 20px;
    overflow: hidden;
}
SECTION.COOKIESbar P, .COPYbttm SPAN {
    line-height: 22px;
    font-weight: 100;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
SECTION.COOKIESbar A {
    text-decoration: underline;
    font-weight: 400;
}
SECTION.COOKIESbar A:hover {
    color: var(--color-clean);
}
SECTION.COOKIESbar P I.CROSSicon, .COOKIESbttm I.CROSSicon {
    display: block;
    padding: 3px 0;
    height: 16px;
}
SECTION.COOKIESbar P i.CROSSicon::before, .COOKIESbttm I.CROSSicon::after {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
}
SECTION.COOKIESbar P I.CROSSicon {
    float: left;
    margin-right: 12px;
}
SECTION.COOKIESbar .COOKIESbttm I.CROSSicon {
    float: right;
    cursor: pointer;
    position: relative;
    top: -12px;
}

@media screen and (min-width: 438px) {
SECTION.COOKIESbar P {
    max-width: 300px;
    float: left;
}
SECTION.COOKIESbar .COOKIESbttm {
    text-align: right;
    float: right;
}
SECTION.COOKIESbar A {
    margin-right: 16px;
}
SECTION.COOKIESbar .COOKIESbttm I.CROSSicon {
    top: 0;
} }


.MAINwrapper {
	color: var(--color-clean);
    background: linear-gradient(to bottom right,rgba(232, 62, 227, 0.92),rgba(107, 71, 217, 0.92));
    background-image: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s1600/hero-wrapper.png),linear-gradient(to bottom right,rgba(232, 62, 227, 0.92),rgba(107, 71, 217, 0.92));
    background-blend-mode: overlay;
    padding: 45px 16px;
}
.MAINinner {
    max-width: 720px;
    margin: 0 auto;
}
h1.MAINtitle {
    font-size: 28px;
    text-align: center;
    font-weight: 100;
    font-family: var(--font-lato);
    margin: 0 0 16px;
}

.MAINstrof {
    font-size: 14px;
    margin: 0 0 16px;
    text-align: center;
    font-family: var(--font-poppins);
}
.MAINwrapper FORM.SEARCHform {
    padding: 0 26px;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;
    border-radius: 3px;
    margin: 0 2px;
}
FORM.SEARCHform:active {
    -webkit-box-shadow: rgba(239, 0, 255, 0.4) 0px 0px 6px 2px;
    box-shadow: rgba(239, 0, 255, 0.4) 0px 0px 6px 2px;
}
FORM.SEARCHform INPUT.SEARCHinput {
    color: var(--input-search);
    width: calc(100% - 32px);
    background: transparent;
    font-family: var(--font-open);
    font-size: 15px;
    padding: 16px 0;
}
FORM.SEARCHform INPUT.SEARCHinput::placeholder { font-family: var(--font-open);  color: var(--input-placeholder); }
FORM.SEARCHform INPUT.SEARCHinput:-ms-input-placeholder { font-family: var(--font-open);  color: var(--input-placeholder); }
FORM.SEARCHform INPUT.SEARCHinput::-webkit-input-placeholder { font-family: var(--font-open);  color: var(--input-placeholder); }
FORM.SEARCHform .SEARCHit {
    position: absolute;
    width: 32px;
    height: 32px;
    font-size: 0;
    top: 0;
    right: 0;
    margin: 10px 0;
    background-color: transparent;
    cursor: pointer;
}
.SEARCHpopular {
    font-family: var(--font-lato);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin: 22px 16px 0;
    line-height: 30px;
    font-size: 14px;
}
.POPULARinst {
    display: inline-block;
}
.SEARCHpopular I.CROSSicon, .SEARCHpopular I.LASTsearch {
    display: inline-block;
    padding: 3px 0;
    height: 24px;
    margin-right: 8px;
    float: left;
}
.SEARCHpopular .CROSSicon::before, .SEARCHpopular .LASTsearch::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
}
.SEARCHpopular A {
    text-decoration: underline;
    -webkit-transition: background-size .4s ease;
    transition: background-size .4s ease;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, transparent), color-stop(0, rgba(255, 250, 164, 0.35))) center center/0% 75% no-repeat;
    background: linear-gradient(to bottom, transparent 62%, rgba(255, 250, 164, 0.35) 0) center center/0% 75% no-repeat;
    text-decoration: none;
    color: #ffeb59;
    background-size: 76% 100%;
    text-transform: lowercase;
}
.SEARCHpopular A:hover {
    background-size: 100% 100%;
}
.SEARCHpopular A:first-child {
    margin-left: 12px;
}



FOOTER.FOOTERit {
    width: 100%;
    font-family: var(--font-open);
    background: var(--navbar-bg-out);
    float: left;
    font-weight: 100;
    font-size: 14px;
    color: var(--color-dark-gray);
}
FOOTER.FOOTERit A {
    color: var(--color-prata);
}
.FOOTERinst {
    padding: 50px 0 8px;
    overflow: hidden;
}
.SPOTinfo {
    float: left;
    line-height: 24px;
    width: 36%;
}
.SPOTinfo DIV:before {
    content: '';
    width: 42px;
    height: 42px;
    display: block;
    margin: 3px 22px 3px 0;
    float: left;
}
.COMPREpremin {
    padding: 0 16px;
}
.COMPREpremin A.WHATSapp, .COMPREpremin A.BUYpremium {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 300px;
    font-weight: 400;
    display: block;
    letter-spacing: 0.4px;
    border-radius: 3px;
}
.COMPREpremin A.WHATSapp {
    box-shadow: inset 0 0 0 2px #2ecc71;
    color: #4ce88e;
    line-height: 16px;
    padding: 8px 0;
    font-size: 12px;
}
.COMPREpremin A.WHATSapp P {
    font-family: var(--font-lato);
    font-weight: 900;
    text-align: center;
}
.COMPREpremin A.WHATSapp .SMALLit {
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
}
.COMPREpremin A.BUYpremium {
    color: #fff;
    background: #ffb229;
    font-family: var(--font-poppins);
    text-align: center;
    line-height: 48px;
}
.COMPREpremin A.BUYpremium:hover {
    background: #fca120;
}
.FOOTERshot {
    width: 100%;
    overflow: hidden;
}
.FOOTERcolumn {
    width: 100%;
    padding: 16px 0 0;
    float: left;
}
.FOOTERcolumn UL, h1.COLUMNtitle {
    margin: 0 32px;
}
.FOOTERcolumn A:hover {
    color: var(--color-clean);
}
.FOOTERcolumn H1.TITLEinst {
	
}
.FOOTERcolumn H1.COLUMNtitle P {
    color: #fff;
    margin-top: 5px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 700;
}
.FOOTERcolumn H1.COLUMNtitle P:after {
    content: "";
    height: 2px;
    background: #e74be3;
    background: -webkit-linear-gradient( left, #e74be3 0%, #ffffff 25%, #7753da 50%, #e74be3 100%) repeat;
    -webkit-animation-name: masked-animation;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    position: absolute;
    left: 0;
    width: 82%;
    bottom: -5px;
}
.FOOTERcolumn I.CROSSicon {
    float: right;
    cursor: pointer;
    padding: 4px 5px;
    margin: 6px 0;
	border-radius: 50%;
}
.FOOTERcolumn I.CROSSicon::before, .FOOTERcolumn I.CROSSicon::after {
    box-sizing: border-box;
    -webkit-transform-origin: bottom;
    background-color: #fff;
    color: #fff;
    content: "";
    display: inline-block;
    height: .1875rem;
    transform-origin: bottom;
    width: 18px;
    top: -10px;
    position: relative;
    -webkit-transition: var(--ease-one-time);
    -o-transition: var(--ease-one-time);
    transition: var(--ease-one-time);
}
.FOOTERcolumn I.CROSSicon.CROSSup::after, .FOOTERcolumn I.CROSSicon.CROSSdown:hover::after {
    background: var(--color-prata);
    -webkit-transform: translateX(-4px) rotate(40deg);
    transform: translateX(-4px) rotate(40deg);
}
.FOOTERcolumn I.CROSSicon.CROSSup::before, .FOOTERcolumn I.CROSSicon.CROSSdown:hover::before {
    background: var(--color-prata);
    -webkit-transform: translateX(4px) rotate(-40deg);
    transform: translateX(4px) rotate(-40deg);
}
.FOOTERcolumn I.CROSSicon.CROSSdown::before, .FOOTERcolumn I.CROSSicon.CROSSup:hover::before {
    -webkit-transform: translateX(2px) rotate(40deg);
    transform: translateX(2px) rotate(40deg);
}
.FOOTERcolumn I.CROSSicon.CROSSdown::after, .FOOTERcolumn I.CROSSicon.CROSSup:hover::after {
    -webkit-transform: translateX(-2px) rotate(-40deg);
    transform: translateX(-2px) rotate(-40deg);
}
.FOOTERcolumn I.CROSSicon:hover {
    background: #2b2e3287;    -webkit-transition: max-height 1s ease-in-out, max-width 1s ease-in-out, opacity 0.5s linear;
    -moz-transition: background-color 0s ease-out;
    -ms-transition: background-color 0s ease-out;
    -o-transition: background-color 0s ease-out;
    transition: background-color 0s ease-out;
    box-shadow: 0 0 6px 1px #292929;
}
.FOOTERcolumn I.CROSSicon:hover:active {
    box-shadow: 0 0 6px 1px #292929, 0 0 0 1px #313131;
}


.FOOTERcolumn DIV {
    margin-bottom: 7px;
    padding: 3px 0;
}

.SHAREit {
    overflow: hidden;
    margin-top: 26px;
}
.SHAREinst {
    margin: 0 auto;
    text-align: center;
}
.SHAREit P, .SHAREit SPAN {
    display: block;
    text-align: center;
}
.SHAREit P {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.SHAREit SPAN {
    font-size: 13px;
    font-weight: 700;
    font-family: var(--font-poppins);
    color: #869fb2;
    margin: 6px 0 0;
}
.SHAREit .item {
    width: 34px;
    height: 34px;
    border-radius: 3px;
    margin: 12px 6px 4px;
    display: inline-block;
}
.SHAREit .item A::after {
    content: '';
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: 8px;
}
.SHAREit .item.btnFacebook {
    background: #3B5999;
}
.SHAREit .item.btnTwitter {
    background: #01BBF6;
}
.SHAREit .item.btnLinkedIn {
    background: #136F9B;
}
.SHAREit .item.btnInsta {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.SHAREit A {
    color: #fff;
    width: 34px;
    height: 34px;
    font-size: 0;
    display: block;
    float: left;
}
.MOREinfo {
    margin: 16px 32px;
    padding: 20px 0 6px;
    border-top: 1px solid var(--navbar-bg);
    text-align: center;
    margin-top: 20px;
}
.MOREinfo DIV {
    text-align: center;
}
.MOREinfo DIV:last-child {
    margin-top: 12px;
}
.SHOTurl {
    margin-top: 20px;
    font-family: var(--font-lato);
    display: block;
    padding: 0 16px;
    overflow: hidden;
    text-align: center;
}
.SHOTurl A:hover {
    color: var(--color-clean);
}
.SHOTurl DIV {
    display: inline-block;
    line-height: 16px;
    padding: 4px;
}
.COPYbttm {
    margin: 22px 0 0;
    background-color: var(--navbar-bg);
    padding: 16px;
}
.COPYinst {
    margin: auto;
    max-width: 1056px;
}
.COPYbttm SPAN {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 11px;
}
.COPYbttm SPAN.BLOGGERurl {
    font-family: var(--font-open);
    display: none;
}


@media screen and (min-width: 540px) {
.COLUMNspot {
    display: block!important;
}
.FOOTERshot {
	display: flex;
}
.FOOTERcolumn I.CROSSicon {
display:none;
}}

@media screen and (max-width: 720px) {
.FOOTERinst {
    padding: 36px 0 0;
}}

@media screen and (min-width: 720px) {
.COPYbttm SPAN.BLOGGERurl {
    display: block;
    text-align: right;
}
.COPYinst {
    display: flex;
}
.COMPREpremin {
    padding: 0;
}}

@media screen and (max-width: 539px) {
.FOOTERshot {
    padding: 16px 0 0;
}
.FOOTERcolumn H1.COLUMNtitle P {
	margin-bottom: 0;
}
.FOOTERcolumn {
    padding: 0;
}
.COLUMNspot {
    display: none;
    padding: 16px 0 0;
}}

@media screen and (max-width: 1119px) {
.SPOTinfo {
    display: none;
}}
@media screen and (min-width: 1120px) {
.FOOTERinst {
    padding: 50px 0 8px!important;
    margin: 0 auto;
}}


@media screen and (max-width: 848px) {
.COMPREpremin A {
    margin: 0 auto;
}}

@media screen and (min-width: 660px) {
.COMPREpremin {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 24px;
    width: 632px;
}
.COMPREpremin A {
    float: left;
    margin: 0 8px;
}}


@media screen and (min-width: 849px) {
DIV.HEADERnav {
    padding: 9px 16px;
}}


@media screen and (min-width: 848px) {
.FOOTERinst {
    max-width: 1056px;
    padding: 50px 32px 8px;
}
.FOOTERcolumn UL, h1.COLUMNtitle {
    margin: auto 0;
}
.FOOTERcolumn I.CROSSicon {
    margin-right: 32px;
}
.COMPREpremin {
    float: right;
    display: flex;
    width: 616px;
    padding: 0;
}
.COMPREpremin A {
    float: left;
}
.COMPREpremin A:first-child {
    margin-right: 8px !IMPORTANT;
    margin-left: 0;
}
.COMPREpremin A:last-child {
    margin-left: 8px !IMPORTANT;
    margin-right: 0;
}
.FOOTERshot {
    display: flex;
    max-width: 70%;
    float: left;
}
.SHAREit, .MOREinfo {
    width: 30%;
    display: block;
    margin: 60px 0 0;
    float: left;
}
.SHAREinst, .SHAREit P, .SHAREit SPAN {
    text-align: right;
}
.MOREinfo {
    margin: 32px 0 0;
    border: none;
    padding: 0;
}
.MOREinfo DIV {
    text-align: right;
}
.SHOTurl {
    max-width: calc(100% - 32px);
    padding: 0;
    float: left;
}
.SHOTurl DIV:last-child {
    padding-right: 0;
}
.SHOTurl DIV:first-child {
    padding-left: 0;
}
.COPYbttm {
    width: calc(100% - 32px);
    float: left;
}}

/*-------------------------------*/
/*----------- POSTAGE -----------*/
/*-------------------------------*/
DIV.POSTbox {
    width: 100%;
    height: 100%;
    float: left;
}
DIV.POSTbox .POSTinst {
    font-size: 12px;
    color: hsl(0, 0%, 60%);
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    display: -ms-flexbox;
    margin: 16px;
}
DIV.POSTbox .POSTup, DIV.POSTbox .POSTbt {
    float: left;
    width: 100%;
}
DIV.POSTbox SECTION {
    display: block;
    position: relative;
}
DIV.POSTbox SECTION .POSTimg::before {
    content: '';
    width: 100%;
    display: block;
    opacity: 0;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    position: absolute;
    height: 70%;
    padding: 0;
    background: linear-gradient( to top, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0) 57% );
    bottom: 0;
    z-index: 9;
}
DIV.POSTbox .POSTup:hover .POSTimg::before { opacity: 1; }
DIV.POSTbox SECTION .POSTspot {
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    z-index: 11;
    bottom: 16px;
    right: 16px;
}
DIV.POSTbox SECTION .POSTspot:hover I.BTNfav::before, DIV.POSTbox SECTION .POSTspot:hover I.BTNdel::before {
    opacity: 0.5;
}
DIV.POSTbox SECTION I.BTNfav::before, DIV.POSTbox SECTION I.BTNdel::before {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    -moz-transition: opacity 0.4s ease, background 0.2s ease;
    -ms-transition: opacity 0.4s ease, background 0.2s ease;
    -o-transition: opacity 0.4s ease, background 0.2s ease;
    transition: opacity 0.4s ease, background 0.2s ease;
    opacity: 0;
}
DIV.POSTbox .POSTup:hover I.BTNfav::before, DIV.POSTbox .POSTup:hover I.BTNdel::before { opacity: 0.2; }
DIV.POSTinst.ACTIVElist SECTION .POSTspot {
	cursor: auto;
}
DIV.POSTinst.ACTIVElist .POSTup:hover I.BTNfav::before {
    opacity: 0.5;
}


DIV.POSTbox SECTION IMG {
    width: 100%;
    display: block;
}
DIV.POSTbox SECTION.POSTup:before {
    content: "";
    display: block;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 50px 50px 0 0;
    left: 0;
    top: 0;
    z-index: 9;
}
DIV.POSTbox SECTION.POSTup:after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 7px;
    top: 7px;
    background-size: 18px;
    background-repeat: no-repeat;
    z-index: 11;
}
SECTION.POSTup.free:before {
    border-color: #00bfa5 transparent !IMPORTANT;
/*	border-color: #14d08c transparent !IMPORTANT; */
}
SECTION.POSTup.excl:before {
    border-color: #bd9537 transparent !IMPORTANT;
}
DIV.POSTbox SECTION.POSTup.excl:after {
    background-size: 16px;
    left: 6px;
}
DIV.POSTbox SECTION.POSTbt {
    padding: 16px 0;
    font-family: 'Open Sans', arial, sans-serif;
}
DIV.POSTbox SECTION.POSTbt .POSTbt_inner {
    padding: 0 16px;
}
DIV.POSTbox .POSTbt_inner H3.POSTtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 0 2px;
}
DIV.POSTbox .POSTbt_inner H3.POSTtitle A.POSTurl, DIV.POSTbox .POSTbt_inner H3.POSTtitle SPAN.POSTurl {
    color: #4d4d4d;
    font-weight: 400;
    font-family: 'Open Sans', arial, sans-serif;
}
DIV.POSTbox .POSTdate.CALENDar {
    color: #383838;
    font-family: 'Open Sans', arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 100;
    margin: 4px 0 0;
}
DIV.POSTbox .POSTdate.CALENDar:before {
    content: '';
    width: 14px;
    background-repeat: no-repeat;
    height: 14px;
    display: block;
    float: left;
    margin: 1px 6px 0 0;
}
DIV.POSTbox .POSTBOXbt {
    flex-grow: 1;
    margin: 2px 0 0;
    display: flex;
}
DIV.POSTbox .POSTprice {
    color: rgb(77, 77, 77);
    font-family: 'Oswald',arial,helvetica,sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 0 0;
    line-height: 28px;
}
DIV.POSTbox .POSTprice, DIV.POSTbox .POSTbtn {
    width: 100%;
}
DIV.POSTbox .POSTbtn {
    justify-content: flex-end;
    display: flex;
    padding: 1px;
    margin: 8px 0 0;
}
DIV.POSTbox .POSTbtn LI {
    width: 100%;
    float: left;
}
DIV.POSTbox .POSTbtn LI:last-child {
    margin-left: 12px;
}
DIV.POSTbox .POSTbtn LI A, DIV.POSTbox .POSTbtn LI SPAN {
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: .5px;
    display: block;
}
DIV.POSTbox .POSTbtn LI A.BTNlive, DIV.POSTbox .POSTbtn LI SPAN.BTNlive {
    color: #606060;
    background: #E0E0E0;
}
DIV.POSTbox .POSTbtn LI A.BTNinfo, DIV.POSTbox .POSTbtn LI SPAN.BTNinfo {
    color: #fff;
    background: #C00;
}


.EMPTYfav {
    width: 100%;
    padding: 32px 0;
    float: left;
}
.EMPTYfav P {
    width: 100%;
    color: rgb(51, 51, 51);
    font-size: 26px;
    line-height: 38px;
    font-family: var(--font-poppins);
    font-weight: 100;
    text-align: center;
    float: left;
}
.SPOTfav {
    display: flex;
    margin: 32px 0;
    width: 100%;
    float: left;
}
.SPOTfav SPAN, .SPOTfav .BOTfav {
    width: 100%;
    float: left;
}
.EMPTYfav SPAN.MSGfav {
    margin: 80px 0;
    font-family: var(--font-open);
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
    color: rgb(51, 51, 51);
    display: block;
    text-indent: 20px;
    float: left;
    position: inherit;
    padding: 0 5%;
    width: 90%;
}
.EMPTYfav A.BACKhome {
    color: #ffffff;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.5px;
    padding: 7px 14px;
    font-family: var(--font-open);
    background: linear-gradient(#e60000 0%, rgb(204, 0, 0) 100%);
    -moz-transition: all 200ms ease-in-out 0s;
    -ms-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    margin: 0 auto;
    display: table;
}
.EMPTYfav A.BACKhome:hover {
    box-shadow: rgba(255, 0, 0, 0.1) 0px 0px 0px 1px, rgba(255, 0, 0, 0.2) 0px 0px 0px 4px;
}
.EXEfav, .POSTprice.EXEfav.PRICEex::before {
border-radius: 3px }
.POSTbox.EXEfav {
    max-width: 100%;
}
SPAN.POSTurl.EXEfav, .POSTdate.EXEfav, .POSTprice.EXEfav::before {
    background: #EEE !IMPORTANT;
    color: transparent !IMPORTANT;
}
SPAN.POSTurl.EXEfav.TITLEex {
    width: 70% !IMPORTANT;
}
.POSTdate.EXEfav.DATEex {
    width: 40% !IMPORTANT;
}
SPAN.POSTurl.EXEfav.TITLEex, .POSTdate.EXEfav.DATEex {
    height: 19px !IMPORTANT;
    display: block;
}
.POSTprice.EXEfav.PRICEex::before {
    content: '';
    height: 18px;
    width: 50%;
    margin: 13px 0 0;
    display: block;
    position: absolute;
    padding: 10px 0 0;
    top: 0;
    left: 0;
}
.POSTbtn.EXEfav.BUTTONSex {
    width: 50%;
}
SPAN.BTNlive.EXEfav, SPAN.BTNinfo.EXEfav {
    height: 32px !IMPORTANT;
    width: 100% !IMPORTANT;
}
.BOTfav {
    max-width: 622px;
}
.POSTspot.EXEfav {
    padding: 40px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    bottom: -28PX !IMPORTANT;
    right: -28PX !IMPORTANT;
}
DIV.POSTbox .POSTup:hover .POSTspot.EXEfav .BTNfav::before {
    opacity: 0.8 !IMPORTANT;
}
DIV.POSTbox .POSTup .POSTspot.EXEfav:hover .BTNfav::before {
    opacity: 1 !IMPORTANT;
}
.BOTFAVright {
    float: left;
    position: inherit;
    padding: 86px 0;
    width: 70%;
}
@media screen and (max-width: 754px) {
.SPOTfav {
display: block;
}
.BOTFAVright {
    padding: 16px 0;
    width: 100%;
}
.EMPTYfav SPAN.MSGfav {
    width: 100%;
    padding: 0;
    margin: 32px 0 52px;
}
}
@media screen and (max-width: 854px) {
.BOTFAVright {
    padding: 0;
}}
@media screen and (max-width: 580px) {
.BOTFAVright {
	width: calc(100% + -32px);
    padding: 0 16px;
}.EMPTYfav P {
	width: calc(100% + -32px);
    padding: 0 16px;
}}


.owl-carousel,.owl-carousel .owl-item { -webkit-tap-highlight-color: transparent; position: relative; }
.owl-carousel { display: none; width: 100%; z-index: 1; }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; touch-action: manipulation; -moz-backface-visibility: hidden; }
.owl-carousel .owl-stage:after { content:&quot;.&quot;; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer { position: relative; margin: 0 auto; -webkit-transform: translate3d(0,0,0); }
.owl-carousel .owl-item,.owl-carousel .owl-wrapper { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); }
.owl-carousel .owl-item { min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-touch-callout: none; }
.owl-carousel .owl-item img { display: block; }
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled { display: none; }
.no-js .owl-carousel, .owl-carousel.owl-loaded { display: flex; }
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev { cursor: pointer; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot { background: 0 0; color: inherit; border:none; padding: 0!important; font: inherit; }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0; }
.owl-carousel.owl-refresh .owl-item { visibility: hidden; }
.owl-carousel.owl-drag .owl-item { -ms-touch-action: pan-y; touch-action: pan-y; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-grab { cursor: move; cursor: grab; }
.owl-carousel.owl-rtl { direction: rtl; }
.owl-carousel.owl-rtl .owl-item { float: right; }
.owl-carousel .animated { animation-duration: 1s; animation-fill-mode: both; }
.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
.owl-carousel .fadeOut { animation-name: fadeOut; }
@keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
.owl-height { transition: height .5s ease-in-out; }
.owl-carousel .owl-item .owl-lazy { opacity: 0; transition: opacity .4s ease; }
.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=&quot;&quot;]{ max-height: 0; }
.owl-carousel .owl-item img.owl-lazy { transform-style: preserve-3d; }
.owl-carousel .owl-video-wrapper { position: relative; height: 100%; background: #000; }
.owl-carousel .owl-video-play-icon { position: absolute; height: 80px; width: 80px; left: 50%; top: 50%; margin-left: -40px; margin-top: -40px; background: url(owl.video.play.png) no-repeat; cursor: pointer; z-index: 1; -webkit-backface-visibility: hidden; transition: transform .1s ease; }
.owl-carousel .owl-video-play-icon:hover { -ms-transform: scale(1.3,1.3); transform: scale(1.3,1.3); }
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn { display: none; }
.owl-carousel .owl-video-tn { opacity: 0; height: 100%; background-position: center center; background-repeat: no-repeat; background-size: contain; transition: opacity .4s ease; }
.owl-carousel .owl-video-frame { position: relative; z-index: 1; height: 100%; width: 100%; }
.owl-carousel .owl-item:first-child li.item { margin-left: 14px; }
.owl-carousel .owl-item:last-child li.item { margin-right: 14px; }
.keySpot .keyname {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}
.footerUp {
width: 100%;
background-color: var(--navbar-bg);
margin: 12px 0 0;
float: left;
}
.keySpot {
padding: 0 16px 16px;
}
.keySpot:before {
content: '';
border-top: 5px solid #cc0000;
position: absolute;
display: block;
width: 100%;
left: 0;
}
.keySpot .owl-carousel .owl-stage-outer {
background: #f1f1f1;
border-radius: 0 0 6px 6px;
padding: 0 6px 0;
overflow: hidden;
}
.keySpot li.item {
font-size: 24px;
line-height: 24px;
overflow: hidden;
margin: 0 6px 12px!important;
width: 82px;
float: left;
}
.keySpot .keyword {
border-left: 1px solid #cc0000;
background: -webkit-gradient(linear,left top,right top,from(#cc0000),to(transparent));
background: linear-gradient(90deg,#cc0000,transparent);
background-size: 100% 1px;
background-repeat: no-repeat;
background-position: 0 0;
position: relative;
height: 50px;
width: 50px;
display: block;
margin: 0 auto;
}
.keySpot .keyword:before {
content: '';
background-repeat: no-repeat;
background-position: center;
margin: 9px;
width: 32px;
height: 32px;
display: block;
float: left;
}
.keySpot .keyword:after {
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 1px;
width: 60%;
background: -webkit-gradient(linear,left top,right top,from(#cc0000),to(transparent));
background: linear-gradient(09deg,#cc0000,transparent);
}
.keySpot .keyname {
font-size: 10px;
text-transform: uppercase;
font-family: 'Open Sans', arial, sans-serif;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
font-weight: 400;
letter-spacing: 0.5px;
background: #cc0000;
color: #ffffff;
margin: 12px 0 0;
padding: 0 8px;
display: block;
text-align: center;
}
DIV.POSTbox.BOOKmark {
    -webkit-transition: max-width 1s ease-in-out, max-height 1s ease-in-out, opacity 0.5s linear;
    -moz-transition: max-width 1s ease-in-out, max-height 1s ease-in-out, opacity 0.5s linear;
    -ms-transition: max-width 1s ease-in-out, max-height 1s ease-in-out, opacity 0.5s linear;
    -o-transition: max-width 1s ease-in-out, max-height 1s ease-in-out, opacity 0.5s linear;
    transition: max-width 1s ease-in-out, max-height 1s ease-in-out, opacity 0.5s linear;
    overflow: hidden;
    max-height: 412px;
    opacity: 1;
}
.EMPTYfav.BOOKmark {
    -webkit-transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    -ms-transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    -o-transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
}
@media screen and (max-width: 753px) {
DIV.POSTbox, DIV.POSTbox.BOOKmark {
    max-width: 100%;
}}
@media screen and (max-width: 1055px) {
.postBody.BOOKmark {
    padding: 16px 0;
}}
H3.BOOKtitle {
    color: #333;
    display: block;
    border-left: 1px solid #606060;
    background: -webkit-gradient(linear,left top,right top,from(#606060),to(transparent));
    background: linear-gradient(90deg,#606060,transparent);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    width: 70%;
    float: left;
    padding: 12px 10px 13px 56px;
    text-align: left;
    font-size: 14px;
    font-family: var(--font-poppins);
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 6px 16px;
    -webkit-transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    -ms-transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    -o-transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
    max-height: 46px;
}
H3.BOOKtitle::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 60%;
    background: -webkit-gradient(linear,left top,right top,from(#606060),to(transparent));
    background: linear-gradient(09deg,#606060,transparent);
}
H3.BOOKtitle::before {
    content: "";
    font-style: italic;
    font-weight: 400;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    position: absolute;
    left: 1.2rem;
    height: 24px;
    top: 10px;
}


.SEARCHbar {
    top: -56px;
    display: none;
    width: 100%;
    opacity: 0;
}
.SEARCHbar FORM.SEARCHform {
    width: calc(100% + -44px);
    background: #f2f2f2;
    border-radius: 3px;
    margin: 0 16px;
}
.SEARCHbar FORM.SEARCHform FIELDSET {
    margin: 0 16px;
}
.SEARCHbar FORM.SEARCHform .SEARCHit {
    margin: 3px 0;
}
.SEARCHbar FORM.SEARCHform INPUT.SEARCHinput {
    padding: 9px 0;
}
.SEARCHbar FORM.SEARCHform:active {
    box-shadow: none;
}


.MASTERpost {
    background: linear-gradient(to bottom right,rgba(232, 62, 227, 0.92),rgba(107, 71, 217, 0.92));
    background-image: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s1600/hero-wrapper.png),linear-gradient(to bottom right,rgba(232, 62, 227, 0.92),rgba(107, 71, 217, 0.92));
    background-blend-mode: overlay;
}
.MASTERinst {
    max-width: 1056px;
    margin: 0 auto;
}
SECTION.BREADcrumb {
    font-size: 13px;
    font-family: var(--font-open);
    padding: 16px 0 0;
    font-weight: 100;
    max-width: 1056px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
SECTION.BREADcrumb A, SECTION.BREADcrumb SPAN {
    color: var(--color-clean);
    display: inline-block;
    float: left;
    padding: 8px;
}
SECTION.BREADcrumb SPAN.CURRENTurl::after {
    content: '';
    border-left: .1875rem solid transparent;
    border-right: .1875rem solid transparent;
    box-sizing: border-box;
    border-bottom: .1875rem solid rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
SECTION.BREADcrumb EM.CROSSicon {
    width: 20px;
    display: inline-block;
    float: left;
    height: 34px;
}
SECTION.BREADcrumb EM.CROSSicon::after {
    content: '\276f';
    font-size: 10px;
    font-style: normal;
    margin: 10px 7.5px;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
}
H3.STATICtitle {
    font-weight: 100;
    color: var(--color-clean);
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: var(--font-poppins);
    padding: 26px 0;
}
.STATICinst {
    max-width: 1056px;
    margin: 0 auto;
}


.POSTstatic {
    padding: 22px 16px;
    line-height: 1.7em;
    font-size: 16px;
    color: var(--color-black-out);
    font-family: var(--font-lato);
    font-weight: 100;
}
I.BACKmenu {
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    background-position: center;
    margin-left: 6px;
    cursor: pointer;
}










.POSTcontent {
    width: 100%;
    display: table;
}
.POSTleft, .POSTright {
    float: left;
}
.POSTright {
    width: 30%;
}
.POSTleft {
    width: 70%;
}
.LEFTinst {
    margin: 16px 24px 0 0;
}
.PURCHASEbox,
.FREEspot {
    background: #fff;
    font-family: var(--font-lato);
    margin: 16px 0 0 0;
    padding: 10px 16px 16px;
}
.PURCHASEbox h4 {
    color: #a5a5a5;
    background: #ffffff;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: .3px;
    padding: 4px 6px 16px;
    border-bottom: 1px solid #f3f3f3;
    font-family: var(--font-lato);
    overflow: hidden;
}
SPAN.LICENSEtxt {
    color: #4d4d4d;
    margin: 0 8px 0 0;
    display: inline-block;
    padding: 12px 0 0 0;
}
I.CIRCLEhelp {
    top: 2px;
}
SPAN.CHECKOUTbtn {
    font-family: var(--font-poppins);
}
SPAN.CHECKOUTbtn I.CARTit {
    display: inline-block;
    top: 2px;
    margin-right: 8px;
}
SPAN.CHECKOUTbtn I.CARTit, SPAN.CHECKOUTbtn I.CARTit::before {
    height: 20px;
    width: 20px;
}
SPAN.CHECKOUTbtn I.CARTit::before {
    content: '';
    display: block;
}
SPAN.CHECKOUTbtn A {
    color: #fff;
    padding: 9px 12px 7px;
    border-width: 0 0 4px;
    border-style: solid;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s;
    margin: 16px 0 0;
    display: block;
}

SPAN.CHECKOUTbtn A:active {
    background-color: #42a31f;
    transition: all 0s;
}
a.btn.CHECKout {
    background-color: #53cc27;
    border-color: rgba(0,0,0,.2);
}
.CHECKOUTwrap {
    padding: 12px 0 0px;
}
.CHECKOUTwrap li:before {
    content: "";
    width: 12px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 11px;
    margin: 0 12px 0 8px;
    float: left;
    height: 9px;
}
.CHECKOUTwrap li {
    color: #616161;
    font-size: 12px;
    line-height: 9px;
    padding: 9px 0;
}
.CIRCLEhelp::after {
    content: '';
    height: 16px;
    width: 16px;
    display: inline-block;
}
SPAN.PREMIUMval {
    font-size: 28px;
    font-family: var(--font-oswald);
    color: #42a31f;
    float: right;
}
.TOOLSpost {
    background: #fff;
    padding: 16px;
}
.ACTIONpost A.LIVEtemplate {
    color: black;
    background: #eee;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom-width: 4px;
    padding: 8px 16px;
    line-height: 17px;
    font-family: var(--font-oswald);
    display: inline-block;
}
.ACTIONpost A.LIVEtemplate SPAN {
    line-height: 1.8;
    font-weight: 400;
    color: #979797;
    font-size: 14px;
    text-transform: uppercase;
}
A.LIVEtemplate I.SEEit {
    display: inherit;
    top: 4px;
    margin-right: 8px;
}
A.LIVEtemplate I.SEEit, A.LIVEtemplate I.SEEit::before {
    height: 18px;
    width: 18px;
}
A.LIVEtemplate I.SEEit::before {
    content: '';
    display: block;
}

.FEATURESthis {
    padding: 16px 26px 0;
    color: #606060;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
}
.FEATURESthis h4 {
    font-weight: 400;
    font-size: 22px;
    padding: 0 2.918% 14px;
    color: #0d141b;
    position: relative;
}
.FEATURESthis ul {
    padding: 0 0 0 20px;
}
.FEATURESthis ul, .FEATURESthis ul li {
    list-style-type: disc;
}
.FEATURESthis ul li {
    margin: 0 0 15px 0;
}
.FEATURESthis ul li strong {
    font-weight: 700;
}
.FEATURESthis li.false {
    display: none;
}

blockquote {
	color: #67676a;
    background-color: #f5f5f5;
    background-image: linear-gradient(#e6e6e6 50%,#f5f5f5 50%);
    background-size: 40px 40px;
    font-family: Monospace;
    font-size: 11px;
    line-height: 20px!important;
    white-space: pre-wrap;
    margin: 0;
    padding: 0 5px;
    border: 1px solid #d4d4d4;
    border-radius: 0;
}
.POSTdoor {
    display: table;
}
.POSTdoor img {
    width: 100%;
    float: left;
    border-radius: 3px 3px 0 0;
}
.TRENDbox {
    margin: 6px 0 0;
    overflow: hidden;
    max-height: 270px;
}
.GOOGLEtrend {
    margin: 22px 0 0 0;
    overflow: hidden;
}
.GOOGLEtrend, .TRENDbox {
    background: #fff;
    font-family: var(--font-lato);
}
H2.HEADERtitle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    color: #1c1c1c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    line-height: 22px;
    margin: 0;
    padding: 0 15px;
    border-bottom: 1px solid #f3f3f3;
}
.GOOGLEtrend IFRAME {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    position: relative;
    top: -30px;
    width: calc(100% + 18px);
    left: -9px;
}



.SHAREpage {
    float: left;
    font-family: var(--font-open);
}
.ACTIONpost {
    display: table;
    width: 100%;
}
.SHAREpage H3 {
    color: var(--color-black-out);
    font-weight: 100;
    letter-spacing: 0.4px;
    padding: 0 0 8px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 10px;
}
.SHAREpage li:not(:last-child) {
    margin-right: 12px;
}
.SHAREpage li {
    float: left;
}
.SHAREpage li.btnWhatsapp A {
    color: #009688;
}
.SHAREpage li.btnWhatsapp A:hover {
    background: #009688;
}
.SHAREpage li.btnTwitter A {
    color: #55acee;
}
.SHAREpage li.btnTwitter A:hover {
    background: #55acee;
}
.SHAREpage li.btnFacebook A {
    color: #4e6eb5;
}
.SHAREpage li.btnFacebook A:hover {
    background: #4e6eb5;
}
.SHAREpage li.btnWhatsapp A:hover, .SHAREpage li.btnTwitter A:hover, .SHAREpage li.btnFacebook A:hover {
    color: #fff;
}
.SHAREpage li A {
    width: 98px;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-transition: all .2s;
    align-items: center;
    text-align: center;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    line-height: 30px;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    height: 30px;
    justify-content: center;
    outline: none;
    transition: all .2s;
}
.LIVEspot {
    float: right;
    padding: 4px 0;
}

.INFORMATIONpage {
    background: #fff;
}
.CHANGElog {
    padding: 12px 16px 16px;
}
.CHANGElog H3 {
    padding: 8px 12px 8px;
    font-family: var(--font-poppins);
    text-transform: uppercase;
    font-weight: 100;
    color: var(--color-black-out);
    line-height: 22px;
    border-top: 1px solid #f3f3f3;
}


.MENUpost {
    display: table;
    font-family: var(--font-open);
}
.MENUpost LI {
    color: #606060;
    float: left;
    background: #f2f2f2;
    display: block;
    line-height: 38px;
    font-size: 14px;
    padding: 0 24px;
    font-weight: 100;
}
.MENUpost LI:not(:first-child) {
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
}
.MENUpost li:not(.CURRENTspot) {
    cursor: pointer;
}
.MENUpost li:not(.CURRENTspot):hover {
    background: rgba(255, 255, 255, 0.35);
}
.DESCpost {
    padding: 6px 16px 16px;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
    font-family: var(--font-lato);
    margin: 22px 0 0;
}
.DESCpost::after {
    content: '';
    width: 30%;
    height: 1px;
    border-bottom: 1px solid #f0f0f0;
    position: absolute;
    bottom: 0;
}
.DESCpost H3 {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 100;
    line-height: 22px;
    padding: 6px 0 10px;
    margin: 0 0 12px;
    border-bottom: 1px solid #f3f3f3;
}
.DESCpost P {
    color: #4b4b4b;
    font-family: var(--font-open);
    line-height: 1.7;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: 100;
}


.FILEtools {
    background: #fff;
    padding: 16px;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
    font-family: var(--font-lato);
    margin: 22px 0 0;
    border-radius: 3px;
}
.ITEMdeatails {
    border-bottom: 1px solid #eee;
    font-family: var(--font-oswald);
    background: #f9f9f9;
    margin: 0 0 16px;
    padding: 16px;
}
.ITEMdeatails strong {
    text-transform: uppercase;
    font-weight: 400;
}
.ITEMdeatails i {
    font-weight: 100;
}
.ITEMdeatails LI:not(:last-child) {
    margin: 0 0 10px;
}
.FREEdownload {
    display: table;
    width: 100%;
    font-family: var(--font-open);
    margin: 0 auto;
}
.FREEdownload A.URLfree {
    display: inline-block;
    -webkit-transition: all .3s;
    background-color: #279acc;
    border-bottom: 4px solid #1682b5;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 65px;
    transition: all .3s;
    width: 100%;
}
.FREEdownload A.URLfree:hover, .FREEdownload A.URLfree:active, SPAN.CHECKOUTbtn A:hover {
    -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    -webkit-transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transform: translateY(-1px);
}
.FREEdownload A.URLfree:hover {
    background-color: #3fa5fb;
}
.FREEdownload A.URLfree:active {
    background-color: #0470c8;
    border-color: #006290;
    transition: all 0s;
}
.FREEdownload A.URLfree:active .btn-download-left {
    background-color: rgb(0, 98, 144);
}
.FREEdownload LI.SECURITYitem {
    margin: 12px 0 0;
    font-weight: 100;
    text-align: center;
}
LI.SECURITYitem::before {
    content: '';
    display: inline-block;
    left: 0;
    top: 4px;
    width: 16px;
    height: 19px;
    position: relative;
    margin-right: 12px;
}
.btn-download-left {
    -ms-flex-align: center;
    -ms-flex-flow: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    background-color: rgba(20, 131, 191, 0.5);
    border-radius: 4px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60px;
}
.btn-download-right {
    -ms-flex: 1;
    -ms-flex-flow: column;
    -ms-flex-pack: center;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    padding-left: 15px;
}
.FREEdownload LI A .btn-download-left::before {
    content: '';
    width: 30px;
    height: 32px;
    display: block;
    margin: 10px 9.5px 0;
    float: left;
}
span.btn-download-right-main {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
}
span.btn-download-right-secondary {
    font-size: 10.5px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.btn-download-right SPAN {
    color: #fff;
}
