#container::before { content: "¿DUDAS?"; }
#container::after { content: "¡ESTOY AQUI!"; }
.downTxt::after { content: "toca para entrar"; }


.item-0 a::before, .item-0 strong::before { content: "Página de inicio"; }
a.item-1::before { content: "Acerca de"; }
a.item-2::before { content: "Clanes"; }
a.item-3::before { content: "Eventos"; }
a.item-4::before { content: "WhatsApp"; }
a.item-5::before { content: "Discord"; }
a.item-6::before { content: "NimoTV"; }
a.item-7::before { content: "Facebook"; }
a.item-8::before { content: "YouTube"; }
a.item-9::before { content: "Ayuda"; }
a.item-10::before { content: "Desarrollador"; }

.flag { background-position: 0 -64px; }

.hs-line-3::before { content: "Comunidad"; }
.hs-line-4::before { content: "Creamos la experiencia única"; }
.hs-line-4::after { content: "de una excelente idea."; }


.copyright li::before { content: "Diseño desarrollado por "; }
.clearfix li.cl1::before { content: "Se prohíbe la reproducción de esta página."; }
.clearfix li.cl2::before { content: "Desarrollado en "; }

#gallery #title::before { content: "Selecciona un idioma:"; }

#pageTitle { font: 0/0 a!IMPORTANT; }
#pageTitle::before { font: 38px 'Rancho' !IMPORTANT; }
.Sobre::before { content: "Acerca de"; }
.Clãs::before { content: "Clanes"; }
.Eventos::before { content: "Eventos"; }
.Ajuda::before { content: "Ayuda"; }
.Desenvolvedor::before { content: "Desarrollador"; }

.bodyPost list li pre a::before { content: "DETALLES"; }


.paging header a.bt1::before { content: "Boletín"; }
.paging header a.bt2::before { content: "Salón de la fama"; }
.paging header a.bt3::before { content: "Comentarios"; }
